{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>Facebook</title>
	<link rel="stylesheet" type="text/css" href="{% static 'facebook.css' %}">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
</head>
<</fo style="background-color: #f7f7f7">
	<div class="header">
		<img  id="facebook" src="{% static 'fb.PNG' %}">
			<table class="table1">
				<tbody>
					<tr>
					<td><label for="Gmail">Email or Phone</label></td>
					<td><label for="pass">Password</label></td>
					</tr>
					<tr><form method="post" action="">
						{% csrf_token %}
						<td>
							<input type="text" name="username">
						</td>
						<td>
							<input type="password" name="password">
						</td>
						<td><input id="submit"  type="submit" value="Log In"> </td>
					</form>
					</tr>
					<tr>
						<td></td>
						<td><label for="pass">Forget Account?</label></td>
					</tr>
				</tbody>

			</table>
</div>
<div style="background-color: #f7f7f7" class="container">
	<div class="friends">
<div class="left">
	<img height="300px" width="500px" src="{% static 'friends.PNG' %}">
</div>
<div class="right">
	<p style="font-size: 40px"><strong>Sign Up</strong></p>
	<p style="font-size:24px">It's free and always will be.</p>
</div>

		<table class="table2">
	<form  id="form22" method="post" action="registration">
		{% csrf_token %}
	<tbody>
		<tr>
			<td><label name="frsname"> <input type="text" placeholder="First Name" name="fname"> </label></td>
			<td><label name="lstname"><input type="text" placeholder="Last Name" name="lname"></label></td>
		</tr>
		<tr>
			<td><label name="eemail"> <input length="40%"  type="email" placeholder="Mobile Number or Email Address" name="email"></label></td>
		</tr>
		<tr>
			<td><label name="pass"><input name="pass" type="password" placeholder="New Password"></label></td>
		</tr>
		<tr>
			<td><label style="font-size: 20px">Birthday</label></td>
		</tr>
		<tr>
			<td>
				<label>
				<div>
				<span class="span1">
					<span>
						<select aria-label="Month" name="month" id="month" title="Month" class="_5dba"><option value="0">Month</option>
						<option value="01">January</option>
						<option value="02">Fabuary</option>
						<option value="03">March</option>
						<option value="04">April</option>
						<option value="05">June</option>
						<option value="06">July</option></select>
					<select aria-label="Day" name="day" id="day" title="Day" class="_5dba"><option value="0">Day</option>
					<option value="23">23</option>
					<option value="07">07</option>
					<option value="08">08</option>
					<option value="22">22</option></select>
					    <select aria-label="Year" name="year" id="year" title="Year" class="_5dba"><option value="0">Year</option>
						<option value="1994">1994</option>
						<option value="1995">1995</option>
						<option value="1996">1996</option>
						<option value="1997">1997</option>
						<option value="1998">1998</option>
						<option value="1999">1999</option></select>
					</span>
				</span>
			</div>
		</label>
			</td>
			<td>
				<a style="font-size: 13px"  href="#">Why do I need to provide my birthday?</a>
			</td>

		</tr>
		<tr>
			<td>
				<label>
				<div>
					<span class="_5k_3" data-type="radio" data-name="gender_wrapper" id="u_0_p"><span class="_5k_2 _5dba"><input type="radio" name="gender" value="Female" id="u_0_6"><label class="_58mt" for="u_0_6">Female</label></span><span class="_5k_2 _5dba"><input type="radio" name="gender" value="Male" id="u_0_7"><label class="_58mt" for="u_0_7">Male</label></span></span>
				</div>
			</label>
		   </td>
		</tr>
		<tr>
		<td>
		<label style="font-size: 13px">By clicking Sign Up, you agree to our <a href="#">Terms</a>, <a href="#">Data Policy</a> and<br> <a href="#">Cookies Policy</a>. You may receive SMS Notifications from us <br>and can opt out any time.</p></label>
	</td>
	</tr>
	<tr><td>
		<label><button  height="40px" width="300px" type="submit" id="submit1"  name="websubmit">Sign Up</button></label>
	</td></tr>

	<tr><td>
		<label><a href=""#>Create a page </a>for a celebrity,band and business</label>
	</td></tr>
	</tbody>



</form>
</table>



</div>
</div>
<!--<div class="footer">-->
<!--<div id="flex1" class="d-flex flex-row">-->
  <!--<div class="p-2"><a href="#"> English (US)</a></div>-->
  <!--<div class="p-2"><a href="#"> नेपाली </a></div>-->
  <!--<div class="p-2"><a href="#"> हिन्दी </a></div>-->
   <!--<div class="p-2"><a href="#"> Español</a></div>-->
  <!--<div class="p-2"><a href="#"> Português (Brasil)</a></div>-->
  <!--<div class="p-2"><a href="#"> 中文(简体)</a></div>-->
   <!--<div class="p-2"><a href="#"> Italiano</a></div>-->
  <!--<div class="p-2"ع   ><a href="#"> ربية</a></div>-->
  <!--<div class="p-2"><a href="#"> Français (France)</a></div>-->
  <!--<div class="p-2"><a href="#"> 日本語</a></div>-->
<!--</div>-->
<!--<div id="flex2" class="d-flex flex-row">-->
  <!--<div class="p-2"><a href="#"> Sign Up</a></div>-->
  <!--<div class="p-2"><a href="#">Log In</a></div>-->
  <!--<div class="p-2"><a href="#"> Messenger </a></div>-->
   <!--<div class="p-2"><a href="#"> Facebook Lite</a></div>-->
   <!--<div class="p-2"><a href="#"> Mobile</a></div>-->
  <!--<div class="p-2"><a href="#"> Find Friends</a></div>-->
  <!--<div class="p-2"><a href="#"> People </a></div>-->
   <!--<div class="p-2"><a href="#">Profile</a></div>-->
   <!--<div class="p-2"><a href="#">Pages </a></div>-->
  <!--<div class="p-2"><a href="#">Page Categories</a></div>-->
  <!--<div class="p-2"><a href="#"> Places </a></div>-->
   <!--<div class="p-2"><a href="#">Games</a></div>-->
    <!--<div class="p-2"><a href="#">Locations</a></div>-->
<!--</div>-->
    <!--<div id="flex2" class="d-flex flex-row">-->
  <!--<div class="p-2"><a href="#">Marketplace  </a></div>-->
   <!--<div class="p-2"><a href="#">Groups</a></div>-->
    <!--<div class="p-2"><a href="#">Instagram</a></div>-->
  <!--<div class="p-2"><a href="#"> Local </a></div>-->
   <!--<div class="p-2"><a href="#"> Fundraiser</a></div>-->
    <!--<div class="p-2"><a href="#">About</a></div>-->
  <!--<div class="p-2"><a href="#"> Create Ad </a></div>-->
   <!--<div class="p-2"><a href="#"> Create Page</a></div>-->
    <!--<div class="p-2"><a href="#">Developers</a></div>-->
  <!--<div class="p-2"><a href="#"> Careers </a></div>-->
<!--</div>-->
  <!--<div id="flex2" class="d-flex flex-row">-->
   <!--<div class="p-2"><a href="#"> Privacy</a></div>-->
    <!--<div class="p-2"><a href="#"> Cookies </a></div>-->
   <!--<div class="p-2"><a href="#">Ad Choice</a></div>-->
    <!--<div class="p-2"><a href="#">Terms </a></div>-->
   <!--<div class="p-2"><a href="#">Account Security</a></div>-->
    <!--<div class="p-2"><a href="#">Login Help  </a></div>-->
   <!--<div class="p-2"><a href="#">Help</a></div>-->
  <!--&lt;!&ndash;   <div class="p-2"><a href="#">  </a></div>-->
   <!--<div class="p-2"><a href="#"></a></div>-->
    <!--<div class="p-2"><a href="#">  </a></div>-->
   <!--<div class="p-2"><a href="#"></a></div>-->
 <!--&ndash;&gt;-->

<!--</div>-->
<!--</div>-->
</body>
</html>