{% for profile in profiles %}
hello
{% endfor %}
<!--{% load static %}-->
<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
    <!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">-->
    <!--<meta charset="UTF-8">-->
    <!--<title>DashBoard</title>-->

<!--</head>-->
<!--<body>-->
<!--&lt;!&ndash;Profile Table&ndash;&gt;-->
<!--<div class="table-responsive-sm">-->
  <!--<table class="table">-->
  <!--<caption>List of Users Form Facebook Registrations</caption>-->
  <!--<thead>-->
    <!--<tr>-->
      <!--<th scope="col">ID</th>-->
      <!--<th scope="col">First Name</th>-->
      <!--<th scope="col">Last name </th>-->
      <!--<th scope="col">Email</th>-->
      <!--<th scope="col">Gender</th>-->
        <!--<th scope="col">Date</th>-->

    <!--</tr>-->
  <!--</thead>-->
  <!--<tbody>-->
    <!--{% for profile in profiles %}-->
    <!--<tr>-->
        <!--<th scope="row">{{ forloop.counter }}</th>-->
        <!--<td>{{profile.user.first_name}}</td>-->
        <!--<td>{{profile.user.last_name}}</td>-->
        <!--<td>{{profile.user.email}}</td>-->
        <!--<td>{{profile.gender}}</td>-->
        <!--&lt;!&ndash;<td>{{profile.birth_date}}</td>&ndash;&gt;-->
    <!--</tr>-->
    <!--{% endfor %}-->
    <!--</tbody>-->
<!--</table>-->
<!--</div>-->

<!--<div class="table-responsive-md">-->
    <!--&lt;!&ndash;Gender = Male&ndash;&gt;-->
 <!--<table class="table">-->
  <!--<caption>List of Users Form Facebook Registrations where gender = male</caption>-->
  <!--<thead>-->
    <!--<tr>-->
      <!--<th scope="col">ID</th>-->
      <!--<th scope="col">First Name</th>-->
      <!--<th scope="col">Last name </th>-->
      <!--<th scope="col">Email</th>-->
        <!--<th scope="col">Date</th>-->

    <!--</tr>-->
  <!--</thead>-->
  <!--<tbody>-->
    <!--{% for male in males %}-->
    <!--<tr>-->
        <!--<th scope="row">{{ forloop.counter }}</th>-->
        <!--<td>{{male.user.first_name}}</td>-->
        <!--<td>{{male.user.last_name}}</td>-->
        <!--<td>{{male.user.email}}</td>-->
        <!--&lt;!&ndash;<td>{{male.birth_date}}</td>&ndash;&gt;-->
    <!--</tr>-->
    <!--{% endfor %}-->
    <!--</tbody>-->
<!--</table>-->
<!--</div>-->

<!--<div class="table-responsive-lg">-->
    <!--&lt;!&ndash;female&ndash;&gt;-->
 <!--<table class="table">-->
  <!--<caption>List of Users Form Facebook Registrations where gender = Female</caption>-->
  <!--<thead>-->
    <!--<tr>-->
      <!--<th scope="col">ID</th>-->
      <!--<th scope="col">First Name</th>-->
      <!--<th scope="col">Last name </th>-->
      <!--<th scope="col">Email</th>-->
        <!--<th scope="col">Date</th>-->

    <!--</tr>-->
  <!--</thead>-->
  <!--<tbody>-->
    <!--{% for female in females %}-->
    <!--<tr>-->
        <!--<th scope="row">{{ forloop.counter }}</th>-->
        <!--<td>{{female.user.first_name}}</td>-->
        <!--<td>{{female.user.last_name}}</td>-->
        <!--<td>{{female.user.email}}</td>-->
        <!--&lt;!&ndash;<td>{{female.birth_date}}</td>&ndash;&gt;-->
    <!--</tr>-->
    <!--{% endfor %}-->
    <!--</tbody>-->
 <!--</table>-->
<!--</div>-->

<!--<div class="table-responsive-xl">-->
  <!--&lt;!&ndash;female&ndash;&gt;-->
 <!--<table class="table">-->
  <!--<caption>List of Users Form Facebook Registrations using date range</caption>-->
  <!--<thead>-->
    <!--<tr>-->
      <!--<th scope="col">ID</th>-->
      <!--<th scope="col">First Name</th>-->
      <!--<th scope="col">Last name </th>-->
      <!--<th scope="col">Email</th>-->
          <!--<th scope="col">Gender</th>-->
        <!--<th scope="col">Date</th>-->

    <!--</tr>-->
  <!--</thead>-->
  <!--<tbody>-->
    <!--{% for date in dates %}-->
    <!--<tr>-->
        <!--<th scope="row">{{ forloop.counter }}</th>-->
        <!--<td>{{date.user.first_name}}</td>-->
        <!--<td>{{date.user.last_name}}</td>-->
        <!--<td>{{date.user.email}}</td>-->
        <!--<td>{{date.gender}}</td>-->
        <!--&lt;!&ndash;<td>{{date.birth_date}}</td>&ndash;&gt;-->
    <!--</tr>-->
    <!--{% endfor %}-->
    <!--</tbody>-->
 <!--</table>-->
<!--</div>-->

<!--{% for years in year %}-->
 <!--{{years.DOB}}-->
<!--{% endfor %}-->

<!--</body>-->
<!--</html>-->


<!--https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css-->