{% extends "login.html" %}

{% block signup %}
<table class="table2">
	<form  id="form22" method="post" action="registration">
		{% csrf_token %}
	<tbody>
		<tr>
			<td><label name="frsname"> <input type="text" placeholder="First Name" name="fname"> </label></td>
			<td><label name="lstname"><input type="text" placeholder="Last Name" name="lname"></label></td>
		</tr>
		<tr>
			<td><label name="eemail"> <input length="40%"  type="email" placeholder="Mobile Number or Email Address" name="email"></label></td>
		</tr>
		<tr>
			<td><label name="pass"><input name="pass" type="password" placeholder="New Password"></label></td>
		</tr>
		<tr>
			<td><label style="font-size: 20px">Birthday</label></td>
		</tr>
		<tr>
			<td>
				<label>
				<div>
				<span class="span1">
					<span>
						<select aria-label="Month" name="month" id="month" title="Month" class="_5dba"><option value="0">Month</option>
						<option value="01">January</option>
						<option value="02">Fabuary</option>
						<option value="03">March</option>
						<option value="04">April</option>
						<option value="05">June</option>
						<option value="06">July</option></select>
					<select aria-label="Day" name="day" id="day" title="Day" class="_5dba"><option value="0">Day</option>
					<option value="23">23</option>
					<option value="07">07</option>
					<option value="08">08</option>
					<option value="22">22</option></select>
					    <select aria-label="Year" name="year" id="year" title="Year" class="_5dba"><option value="0">Year</option>
						<option value="1994">1994</option>
						<option value="1995">1995</option>
						<option value="1996">1996</option>
						<option value="1997">1997</option>
						<option value="1998">1998</option>
						<option value="1999">1999</option></select>
					</span>
				</span>
			</div>
		</label>
			</td>
			<td>
				<a style="font-size: 13px"  href="#">Why do I need to provide my birthday?</a>
			</td>

		</tr>
		<tr>
			<td>
				<label>
				<div>
					<span class="_5k_3" data-type="radio" data-name="gender_wrapper" id="u_0_p"><span class="_5k_2 _5dba"><input type="radio" name="gender" value="Female" id="u_0_6"><label class="_58mt" for="u_0_6">Female</label></span><span class="_5k_2 _5dba"><input type="radio" name="gender" value="Male" id="u_0_7"><label class="_58mt" for="u_0_7">Male</label></span></span>
				</div>
			</label>
		   </td>
		</tr>
		<tr>
		<td>
		<label style="font-size: 13px">By clicking Sign Up, you agree to our <a href="#">Terms</a>, <a href="#">Data Policy</a> and<br> <a href="#">Cookies Policy</a>. You may receive SMS Notifications from us <br>and can opt out any time.</p></label>
	</td>
	</tr>
	<tr><td>
		<label><button  height="40px" width="300px" type="submit" id="submit1"  name="websubmit">Sign Up</button></label>
	</td></tr>

	<tr><td>
		<label><a href=""#>Create a page </a>for a celebrity,band and business</label>
	</td></tr>
	</tbody>



</form>
</table>

{% endblock %}