/*.header{
	height:100px;
	background-color: #3b5998;
	color: white;
}
#facebook{
	margin-left: 15%;
}
.login{
	float: right;
}

}
 img{
	margin-top: 2.5%;
}
#two{
	float: right;
	
}*/
.table1{
	float:right;
	margin-right: 13%;
	margin-top: 1.5%;
}
.header{
	height:105px;
	background-color: #3b5998;
	color: white;
	font-size: 12px;
}
#facebook{
	margin-left: 13%;
	margin-top:1.5%;
}
#submit{
	background-color: #8b9dc3;
	border-width: 0px;
	color: white;
 }
 .friends{
 	margin-top: 5%;

 }
 .left{
 	float: left;
 }

 .right{
 	float: right;
 	margin-right: 0%;
 }
 td{
 	border-spacing: 0%
 }
 #submit1{
 	background-color: #578843;
 	height: 40px;
 	width: 200px;
 	border-radius: 10px;

 }
 .footer{
 	margin-top: 40%;
 	margin-bottom: 10%;
 	margin-right: 13%;
 	margin-left: 13%;
 	font-size: 13px;

 }
 #flex1{
 	
 	border-bottom: 1px solid grey;
 
 }

 
